## Libraries

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## URL

In [2]:
url ='https://www.cars24.com/buy-used-car/?sort=P&storeCityId=2&pinId=110001'
url_cars ='https://www.cars24.com/buy-used-car/?sort=P&storeCityId=&pinId='

In [3]:
city_id1 = ['2','2378','4709','134','1692','1771','135','2987','1822','769','5732','6105',
           '6','5','132','3686','692','2130','1620','777','6356','666','290','404',
           '2713','2598','2423','38','8184','33','29','1606','62','1605','6336',
           '1674','1604','648','2920']  
city_id2 = ['110001','400001','560001','201301','380001','387315','202001','462001','392001','134101','600001','641001',
           '121001','122001','201001','500001','144001','302001','361001','700001','682001','141001','226001','250001',
           '440001','422001','411001','132101','800001','124001','123110','360001','131001','394101','680001',
           '390001','396001','140604','450001']

In [4]:
### Cities

#Ahamdabad=1692,380001, Anand=1771,387315, Aligarh=135,202001
# Noida = 134,201301 , bhopal=2987,462001,Bharuch=1822,392001,chd=769,134101,chennai=5732,600001,coimbantore=6105,641001,Fbd=6,121001
#gurgaon=5,122001,Ghaziabad=132,201001, Hyderabad=3686,500001, Jalandhar=692,144001, Jaipur=2130,302001,jamnagar=1620,361001
#kolkata=777,700001,Ludhiana=666,141001, lucknow=290,226001, merrut=404,250001, Nagpur=2713,440001, Nasik=2598,422001
#Pune=2423,411001, Panipat=38,132101, Patna=8184,800001, Rohtak=33,124001, Rewari=29,123110, Rajkot=1606,360001
#Sonipat=62,131001, Surat=1605,394101, Trichur=6336,680001, Vadodra=1674,390001, Vapi=1604,396001,
#Zirakpur=648,140604, Kochi=6356,682001, indore=2920,450001

In [5]:
response = requests.get(url_cars)#+city_id1[1])
print(response)

<Response [200]>

In [6]:
cars24 = BeautifulSoup(requests.get(url_cars+'city_id1[idx]+city_id2[idx]').content,'html5lib')

In [7]:
cars24 = BeautifulSoup(requests.get(url_cars).content,'html5lib')

### Creating a Function for data extract and append data.

In [8]:
def cars_extract(idx):
#     url_cars ='https://www.cars24.com/buy-used-car/?sort=P&storeCityId=2&pinId="
    cars24 = BeautifulSoup(requests.get(f"https://www.cars24.com/buy-used-car/?sort=P&storeCityId={city_id1[idx]}&pinId={city_id2[idx]}").content,'html5lib')
    r1 = cars24.find_all('div', attrs={'class':"col-4"})
    print('len r1',len(r1))
    car_name =[]
    km_driven=[]
    engine=[]
    emi=[]
    price=[]
    fuel = []
    for i in cars24.find_all('div', attrs={'class':"col-4"}):   #cars24.find_all('div', {'class':"col-4"})
        try:
            car_name.append(i.find('h2').text)
        except:
            car_name.append('n/a')
        try:
            km_driven.append(i.find('li').text)
        except:
            km_driven.append('n/a')
        try:
            engine.append(i.find('p').text)
        except:
            engine.append('n/a') 
        try:
            emi.append(i.find('strong').text)
        except:
            emi.append('n/a')
        try:
            price.append(i.find('div',{'class':"_7udZZ"}).text)
        except:
            price.append('n/a')
        try:
            fuel.append(i.find('ul',{'class':"bVR0c"}).text)#(strip=True, separator="|").split("|"))
        except:
            fuel.append('/')
    print(len(car_name),len(km_driven),len(engine),len(emi),len(price),len(fuel))
    car_city = pd.DataFrame({'car_name':car_name,'engine':engine,'km_driven':km_driven,'emi':emi,'price':price,'fuel':fuel})
    return car_city

In [9]:
car_delhi =cars_extract(0)
car_delhi.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099","7,299 km1st OwnerPetrol"
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499","12,046 km2nd OwnerPetrol"
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699","6,875 km2nd OwnerPetrol"
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199","12,362 km2nd OwnerPetrol"
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099","75,862 km3rd OwnerPetrol"

In [10]:
car_mumbai =cars_extract(1)
car_mumbai.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2013 Hyundai i10,"₹35,100off","17,221 km","₹4,876/month","₹2,49,399","17,221 km2nd OwnerPetrol"
1,2011 Maruti Wagon R 1.0,VXI Manual,"32,770 km","₹5,273/month","₹2,69,699","32,770 km1st OwnerPetrol"
2,2012 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"28,317 km","₹5,779/month","₹2,95,599","28,317 km1st OwnerPetrol"
3,2013 Maruti Swift Dzire,"₹33,500off","46,095 km","₹8,326/month","₹4,25,899","46,095 km1st OwnerPetrol"
4,2012 Maruti Swift,ZXI Manual,"48,177 km","₹8,586/month","₹4,39,199","48,177 km1st OwnerPetrol + CNG"

In [11]:
car_bang =cars_extract(2)
car_bang.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2010 Hyundai Santro Xing,GLS Manual,"14,298 km","₹4,547/month","₹2,32,599","14,298 km2nd OwnerPetrol"
1,2020 Maruti Ertiga,"₹33,800off","19,946 km","₹18,494/month","₹9,84,799","19,946 km2nd OwnerPetrol"
2,2022 Nissan MAGNITE,"₹2,08,300off","1,794 km","₹19,635/month","₹10,45,599","1,794 km1st OwnerPetrol"
3,2022 KIA SONET,GTX PLUS 1.5D AT DUAL TONE,"3,704 km","₹30,803/month","₹16,40,299","3,704 km1st OwnerDiesel"
4,2020 Maruti Ertiga,ZXI SMART HYBRID Manual,"17,115 km","₹22,077/month","₹11,75,599","17,115 km1st OwnerPetrol"

In [12]:
car_noida =cars_extract(3)
car_noida.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2012 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,"39,135 km","₹5,421/month","₹2,77,299","39,135 km1st OwnerPetrol"
1,2015 Honda Jazz,1.2 VX I-VTECH Manual,"28,170 km","₹10,338/month","₹5,28,799","28,170 km1st OwnerPetrol"
2,2021 Tata Tiago,XT 1.2 REVOTRON Manual,"2,608 km","₹11,642/month","₹5,95,499","2,608 km1st OwnerPetrol"
3,2014 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"11,855 km","₹7,496/month","₹3,83,399","11,855 km3rd OwnerPetrol"
4,2020 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,"13,265 km","₹11,050/month","₹5,65,199","13,265 km2nd OwnerPetrol"

In [13]:
car_ahamdabad =cars_extract(4)
car_ahamdabad.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Volvo V40 Cross Country,"₹35,500off","21,635 km","₹25,934/month","₹13,80,999","21,635 km1st OwnerPetrol"
1,2018 Maruti Swift,VXI AMT Automatic,"60,151 km","₹11,458/month","₹5,86,099","60,151 km1st OwnerPetrol"
2,2020 Maruti Swift,VXI Manual,"17,554 km","₹12,999/month","₹6,64,899","17,554 km1st OwnerPetrol"
3,2017 Maruti Celerio,VXI Manual,"93,472 km","₹7,716/month","₹3,94,699","93,472 km1st OwnerPetrol"
4,2018 Jeep Compass,"₹7,300off","41,392 km","₹22,208/month","₹11,82,599","41,392 km1st OwnerDiesel"

In [14]:
car_anand =cars_extract(5)
car_anand.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Volvo V40 Cross Country,"₹35,500off","21,635 km","₹25,934/month","₹13,80,999","21,635 km1st OwnerPetrol"
1,2020 Maruti Swift,VXI Manual,"17,554 km","₹12,999/month","₹6,64,899","17,554 km1st OwnerPetrol"
2,2017 Maruti Celerio,VXI Manual,"93,472 km","₹7,716/month","₹3,94,699","93,472 km1st OwnerPetrol"
3,2019 Maruti Swift,VXI Manual,"72,729 km","₹11,867/month","₹6,06,999","72,729 km1st OwnerPetrol"
4,2020 Volkswagen Polo,"₹28,500off","37,189 km","₹11,894/month","₹6,08,399","37,189 km1st OwnerPetrol"

In [15]:
car_aligarh =cars_extract(6)
car_aligarh.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2012 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,"39,135 km","₹5,421/month","₹2,77,299","39,135 km1st OwnerPetrol"
1,2015 Honda Jazz,1.2 VX I-VTECH Manual,"28,170 km","₹10,338/month","₹5,28,799","28,170 km1st OwnerPetrol"
2,2021 Tata Tiago,XT 1.2 REVOTRON Manual,"2,608 km","₹11,642/month","₹5,95,499","2,608 km1st OwnerPetrol"
3,2014 Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"11,855 km","₹7,496/month","₹3,83,399","11,855 km3rd OwnerPetrol"
4,2020 Hyundai Grand i10,MAGNA 1.2 VTVT Manual,"13,265 km","₹11,050/month","₹5,65,199","13,265 km2nd OwnerPetrol"

In [16]:
car_Bhopal =cars_extract(7)
car_Bhopal.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2012 Hyundai i10,SPORTZ 1.2 KAPPA2 Manual,"31,946 km","₹6,371/month","₹3,25,899","31,946 km1st OwnerPetrol"
1,2020 Hyundai Elite i20,1.2 MAGNA PLUS VTVT Manual,"7,583 km","₹12,848/month","₹6,57,199","7,583 km2nd OwnerPetrol"
2,2019 Maruti Swift,"₹12,200off","57,877 km","₹11,638/month","₹5,95,299","57,877 km1st OwnerPetrol"
3,2020 Maruti S PRESSO,"₹37,500off","1,709 km","₹9,316/month","₹4,76,499","1,709 km2nd OwnerPetrol"
4,2018 Maruti Swift,LXI Manual,"16,072 km","₹10,991/month","₹5,62,199","16,072 km1st OwnerPetrol"

In [17]:
car_Baruch =cars_extract(8)
car_Baruch.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Volkswagen Polo,"₹9,200off","68,401 km","₹8,864/month","₹4,53,399","68,401 km2nd OwnerPetrol"
1,2018 Maruti Alto 800,"₹20,000off","30,253 km","₹5,855/month","₹2,99,499","30,253 km1st OwnerPetrol"
2,2019 Maruti Swift,"₹23,700off","47,289 km","₹11,894/month","₹6,08,399","47,289 km1st OwnerPetrol"
3,2018 Hyundai Grand i10,SPORTZ O 1.2 Manual,"10,381 km","₹11,067/month","₹5,66,099","10,381 km1st OwnerPetrol"
4,2018 Renault Kwid,1.0 RXT Opt Manual,"20,153 km","₹7,032/month","₹3,59,699","20,153 km2nd OwnerPetrol"

In [18]:
car_Chandigarh =cars_extract(9)
car_Chandigarh.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,LXI Manual,"4,172 km","₹11,650/month","₹5,95,899","4,172 km1st OwnerPetrol"
1,2020 Maruti Swift,ZXI+ Manual,"7,720 km","₹14,107/month","₹7,21,599","7,720 km1st OwnerPetrol"
2,2019 Maruti Swift,VXI Manual,"34,269 km","₹11,828/month","₹6,04,999","34,269 km2nd OwnerPetrol"
3,2011 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,"96,280 km","₹4,403/month","₹2,25,199","96,280 km2nd OwnerPetrol"
4,2021 Nissan MAGNITE,"₹32,700off","16,550 km","₹13,988/month","₹7,15,499","16,550 km1st OwnerPetrol"

In [19]:
car_Chennai =cars_extract(10)
car_Chennai.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Maruti Ertiga,ZXI Plus SHVS Manual,"28,363 km","₹18,432/month","₹9,81,499","28,363 km2nd OwnerPetrol"
1,2013 Maruti Wagon R 1.0,"₹14,000off","48,966 km","₹6,299/month","₹3,22,199","48,966 km1st OwnerPetrol"
2,2021 Nissan MAGNITE,"₹45,700off","6,808 km","₹16,755/month","₹8,92,199","6,808 km2nd OwnerPetrol"
3,2021 Renault Kiger,RXL EASY R 1.0 L,"2,734 km","₹15,489/month","₹8,24,799","2,734 km1st OwnerPetrol"
4,2019 Hyundai Elite i20,"₹12,000off","14,925 km","₹11,838/month","₹6,05,499","14,925 km3rd OwnerPetrol"

In [20]:
car_Coimbantor =cars_extract(11)
car_Coimbantor.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Honda Amaze,1.2 VXMT I VTEC Manual,"32,373 km","₹11,583/month","₹5,92,499","32,373 km1st OwnerPetrol"
1,2019 Maruti Swift,"₹5,000off","18,466 km","₹13,271/month","₹6,78,799","18,466 km1st OwnerPetrol"
2,2018 Hyundai Verna,"₹16,000off","26,719 km","₹16,503/month","₹8,78,799","26,719 km2nd OwnerPetrol"
3,2019 Hyundai VENUE,"₹51,600off","14,736 km","₹18,353/month","₹9,77,299","14,736 km1st OwnerPetrol"
4,2016 Maruti Wagon R 1.0,"₹8,000off","17,448 km","₹7,900/month","₹4,04,099","17,448 km1st OwnerPetrol"

In [21]:
car_Fbd =cars_extract(12)
car_Fbd.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Maruti Swift,LXI Manual,"37,089 km","₹10,403/month","₹5,32,099","37,089 km1st OwnerPetrol"
1,2009 Maruti A Star,VXI Manual,"47,298 km","₹3,838/month","₹1,96,299","47,298 km1st OwnerPetrol"
2,2019 Maruti Swift,VXI AMT Automatic,"45,067 km","₹12,238/month","₹6,25,999","45,067 km2nd OwnerPetrol"
3,2018 Maruti Wagon R 1.0,"₹5,000off","14,764 km","₹9,847/month","₹5,03,699","14,764 km1st OwnerPetrol"
4,2011 Maruti Alto K10,"₹5,000off","38,042 km","₹4,606/month","₹2,35,599","38,042 km1st OwnerPetrol"

In [22]:
car_Gurgaon =cars_extract(13)
car_Gurgaon.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Jeep Compass,"₹20,000off","23,327 km","₹37,423/month","₹19,92,799","23,327 km1st OwnerPetrol"
1,2020 Maruti Baleno,SIGMA 1.2 K12 Manual,"15,936 km","₹11,800/month","₹6,03,599","15,936 km1st OwnerPetrol"
2,2017 Jeep Compass,LIMITED 2.0 4*4 Manual,"37,697 km","₹27,066/month","₹14,41,299","37,697 km1st OwnerDiesel"
3,2020 Maruti Baleno,SIGMA 1.2 K12 Manual,"13,525 km","₹11,750/month","₹6,00,999","13,525 km1st OwnerPetrol"
4,2018 Volkswagen TIGUAN,HIGHLINE A/T Automatic,"74,860 km","₹40,225/month","₹21,41,999","74,860 km1st OwnerDiesel"

In [23]:
car_Gaziabad =cars_extract(14)
car_Gaziabad.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
1,2020 Maruti Swift,LXI Manual,"12,031 km","₹11,583/month","₹5,92,499","12,031 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"4,524 km","₹12,278/month","₹6,27,999","4,524 km1st OwnerPetrol"
4,2021 Tata ALTROZ,XE 1.2 Manual,"7,708 km","₹12,551/month","₹6,41,999","7,708 km1st OwnerPetrol"

In [24]:
car_Hydrabad =cars_extract(15)
car_Hydrabad.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2012 Hyundai Santro Xing,GL PLUS Manual,"36,240 km","₹5,404/month","₹2,76,399","36,240 km1st OwnerPetrol"
1,2011 Maruti Swift,"₹30,700off","49,957 km","₹8,217/month","₹4,20,299","49,957 km2nd OwnerPetrol"
2,2010 Hyundai i10,"₹5,000off","81,385 km","₹5,339/month","₹2,73,099","81,385 km2nd OwnerPetrol"
3,2011 Hyundai i10,"₹5,400off","98,797 km","₹5,621/month","₹2,87,499","98,797 km2nd OwnerPetrol"
4,2012 Hyundai Santro Xing,GLS Manual,"45,417 km","₹5,720/month","₹2,92,599","45,417 km1st OwnerPetrol"

In [25]:
car_Jalandhar =cars_extract(16)
car_Jalandhar.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2019 Maruti Swift,VXI Manual,"34,269 km","₹11,828/month","₹6,04,999","34,269 km2nd OwnerPetrol"
1,2019 Maruti Swift,ZDI + Manual,"38,472 km","₹14,637/month","₹7,48,699","38,472 km1st OwnerDiesel"
2,2016 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"27,275 km","₹7,953/month","₹4,06,799","27,275 km2nd OwnerPetrol"
3,2021 Maruti Baleno,"₹6,800off","4,153 km","₹15,433/month","₹8,21,799","4,153 km1st OwnerPetrol"
4,2021 Mahindra Thar,LX D 4*4 MT HT Manual,"9,034 km","₹29,633/month","₹15,77,999","9,034 km1st OwnerDiesel"

In [26]:
car_Jaipur =cars_extract(17)
car_Jaipur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2017 Maruti Swift,VXI OPT Manual,"14,293 km","₹10,645/month","₹5,44,499","14,293 km1st OwnerPetrol"
1,2017 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,"78,388 km","₹8,596/month","₹4,39,699","78,388 km2nd OwnerPetrol"
2,2018 Maruti Alto 800,LXI Manual,"45,530 km","₹5,656/month","₹2,89,299","45,530 km1st OwnerPetrol"
3,2018 Hyundai Grand i10,SPORTS 1.2 VTVT Manual,"90,412 km","₹9,523/month","₹4,87,099","90,412 km1st OwnerPetrol"
4,2019 Tata Harrier,XZ 2.0L Kryotec Manual,"43,113 km","₹30,640/month","₹16,31,599","43,113 km1st OwnerDiesel"

In [27]:
car_Jamnagar =cars_extract(18)
car_Jamnagar.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Hyundai Elite i20,SPORTZ 1.2 Manual,"39,077 km","₹10,057/month","₹5,14,399","39,077 km1st OwnerPetrol"
1,2020 Hyundai AURA,"₹13,000off","12,464 km","₹17,076/month","₹9,09,299","12,464 km1st OwnerDiesel"
2,2018 Maruti Alto 800,LXI Manual,"12,028 km","₹5,750/month","₹2,94,099","12,028 km2nd OwnerPetrol"
3,2017 Maruti Baleno,"₹11,000off","9,200 km","₹11,259/month","₹5,75,899","9,200 km1st OwnerPetrol"
4,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"25,815 km","₹8,739/month","₹4,46,999","25,815 km1st OwnerPetrol"

In [28]:
car_Kolkata =cars_extract(19)
car_Kolkata.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2018 Maruti Swift,VXI Manual,"37,030 km","₹10,102/month","₹5,16,699","37,030 km1st OwnerPetrol"
1,2020 Maruti Swift,"₹35,950off","2,944 km","₹12,633/month","₹6,46,199","2,944 km1st OwnerPetrol"
2,2015 Hyundai i10,SPORTZ 1.1 IRDE2 Manual,"32,506 km","₹5,423/month","₹2,77,399","32,506 km2nd OwnerPetrol"
3,2018 Maruti Swift,"₹22,000off","30,217 km","₹9,990/month","₹5,10,999","30,217 km1st OwnerPetrol"
4,2016 Renault Kwid,RXT Manual,"6,748 km","₹5,928/month","₹3,03,199","6,748 km1st OwnerPetrol"

In [29]:
car_Kochi =cars_extract(20)
car_Kochi.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2010 Maruti Alto,LX Manual,"7,956 km","₹3,599/month","₹1,84,099","7,956 km1st OwnerPetrol"
1,2016 Maruti Alto 800,"₹20,350off","1,01,405 km","₹4,351/month","₹2,22,549","1,01,405 km1st OwnerPetrol"
2,2009 Hyundai i10,"₹8,000off","62,164 km","₹3,904/month","₹1,99,699","62,164 km2nd OwnerPetrol"
3,2018 Hyundai Grand i10,"₹8,000off","21,782 km","₹8,543/month","₹4,36,999","21,782 km1st OwnerPetrol"
4,2008 Hyundai i10,"₹8,000off","23,872 km","₹4,667/month","₹2,38,699","23,872 km2nd OwnerPetrol"

In [30]:
car_Ludhiana =cars_extract(21)
car_Ludhiana.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,LXI Manual,"4,172 km","₹11,650/month","₹5,95,899","4,172 km1st OwnerPetrol"
1,2020 Maruti Swift,ZXI+ Manual,"7,720 km","₹14,107/month","₹7,21,599","7,720 km1st OwnerPetrol"
2,2019 Maruti Swift,VXI Manual,"34,269 km","₹11,828/month","₹6,04,999","34,269 km2nd OwnerPetrol"
3,2011 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,"96,280 km","₹4,403/month","₹2,25,199","96,280 km2nd OwnerPetrol"
4,2021 Nissan MAGNITE,"₹32,700off","16,550 km","₹13,988/month","₹7,15,499","16,550 km1st OwnerPetrol"

In [31]:
car_Lucknow =cars_extract(22)
car_Lucknow.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,VXI Manual,"57,330 km","₹11,466/month","₹5,86,499","57,330 km1st OwnerPetrol"
1,2018 Renault Kwid,1.0 RXT Manual,"62,746 km","₹6,457/month","₹3,30,299","62,746 km2nd OwnerPetrol"
2,2020 Maruti Swift,"₹5,000off","22,937 km","₹12,344/month","₹6,31,399","22,937 km2nd OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"8,165 km","₹12,072/month","₹6,17,499","8,165 km1st OwnerPetrol"
4,2020 Maruti New Wagon-R,VXI 1.0 Manual,"4,685 km","₹11,067/month","₹5,66,099","4,685 km1st OwnerPetrol"

In [32]:
car_Merrut =cars_extract(23)
car_Merrut.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Hyundai Xcent,S 1.2 Manual,"35,736 km","₹8,907/month","₹4,55,599","35,736 km1st OwnerPetrol"
1,2017 Maruti Vitara Brezza,VDI OPT Manual,"28,585 km","₹12,407/month","₹6,34,599","28,585 km2nd OwnerDiesel"
2,2014 Maruti Alto 800,VXI Manual,"16,317 km","₹6,188/month","₹3,16,499","16,317 km1st OwnerPetrol"
3,2020 KIA SELTOS,"₹62,000off","33,981 km","₹26,353/month","₹14,03,299","33,981 km2nd OwnerDiesel"
4,2018 Maruti Swift,VXI Manual,"21,372 km","₹11,269/month","₹5,76,399","21,372 km1st OwnerPetrol"

In [33]:
car_Nagpur =cars_extract(24)
car_Nagpur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Maruti Alto 800,"₹6,400off","23,101 km","₹5,830/month","₹2,98,199","23,101 km1st OwnerPetrol"
1,2020 Skoda Rapid,"₹26,300off","7,901 km","₹16,107/month","₹8,57,699","7,901 km1st OwnerPetrol"
2,2018 Ford Ecosport,1.5 TITANIUM TI VCT AT Automatic,"39,153 km","₹13,976/month","₹7,14,899","39,153 km1st OwnerPetrol"
3,2020 Maruti New Wagon-R,VXI 1.0 Manual,"13,822 km","₹11,034/month","₹5,64,399","13,822 km2nd OwnerPetrol"
4,2015 Hyundai Grand i10,"₹38,100off","31,124 km","₹8,864/month","₹4,53,399","31,124 km3rd OwnerPetrol"

In [34]:
car_Nasik =cars_extract(25)
car_Nasik.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2014 Maruti Swift Dzire,VXI 1.2 BS IV Manual,"56,838 km","₹8,715/month","₹4,45,799","56,838 km1st OwnerPetrol"
1,2021 Hyundai Creta,S CRDI Manual,"18,185 km","₹26,377/month","₹14,04,599","18,185 km1st OwnerDiesel"
2,2017 Maruti Swift,VDI OPT Manual,"53,478 km","₹11,918/month","₹6,09,599","53,478 km2nd OwnerDiesel"
3,2017 Maruti Wagon R 1.0,LXI Manual,"26,189 km","₹7,568/month","₹3,87,099","26,189 km1st OwnerPetrol"
4,2016 Maruti Ciaz,ZDI SHVS Manual,"42,184 km","₹13,585/month","₹6,94,899","42,184 km2nd OwnerDiesel"

In [35]:
car_Pune =cars_extract(26)
car_Pune.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Maruti Wagon R 1.0,VXI Manual,"32,489 km","₹6,725/month","₹3,43,999","32,489 km1st OwnerPetrol"
1,2014 Maruti Wagon R 1.0,VXI Manual,"20,379 km","₹6,432/month","₹3,28,999","20,379 km1st OwnerPetrol"
2,2011 Maruti Wagon R 1.0,VXI Manual,"41,065 km","₹5,460/month","₹2,79,299","41,065 km1st OwnerPetrol"
3,2015 Hyundai Grand i10,ASTA 1.2 KAPPA VTVT Manual,"63,203 km","₹7,410/month","₹3,78,999","63,203 km3rd OwnerPetrol"
4,2013 Hyundai i10,SPORTZ 1.2 AT KAPPA2 Automatic,"12,030 km","₹7,947/month","₹4,06,499","12,030 km1st OwnerPetrol"

In [36]:
car_Panipat =cars_extract(27)
car_Panipat.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
1,2020 Maruti Swift,LXI Manual,"12,031 km","₹11,583/month","₹5,92,499","12,031 km1st OwnerPetrol"
2,2021 KIA SONET,"₹46,400off","10,079 km","₹19,782/month","₹10,53,399","10,079 km1st OwnerPetrol"
3,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
4,2021 Maruti Swift,LXI Manual,"4,524 km","₹12,278/month","₹6,27,999","4,524 km1st OwnerPetrol"

In [37]:
car_Patna =cars_extract(28)
car_Patna.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 MG HECTOR,"₹72,000off","6,770 km","₹28,148/month","₹14,98,899","6,770 km1st OwnerPetrol"
1,2013 Hyundai i10,"₹7,900off","52,068 km","₹5,173/month","₹2,64,599","52,068 km2nd OwnerPetrol"
2,2020 Maruti New Wagon-R,1.0 VXI (O) Manual,"7,106 km","₹10,561/month","₹5,40,199","7,106 km1st OwnerPetrol"
3,2017 Maruti Alto 800,VXI Manual,"22,025 km","₹5,601/month","₹2,86,499","22,025 km3rd OwnerPetrol"
4,2014 Maruti Alto 800,LXI Manual,"20,132 km","₹5,071/month","₹2,59,399","20,132 km1st OwnerPetrol"

In [38]:
car_Rohtak =cars_extract(29)
car_Lucknow.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,VXI Manual,"57,330 km","₹11,466/month","₹5,86,499","57,330 km1st OwnerPetrol"
1,2018 Renault Kwid,1.0 RXT Manual,"62,746 km","₹6,457/month","₹3,30,299","62,746 km2nd OwnerPetrol"
2,2020 Maruti Swift,"₹5,000off","22,937 km","₹12,344/month","₹6,31,399","22,937 km2nd OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"8,165 km","₹12,072/month","₹6,17,499","8,165 km1st OwnerPetrol"
4,2020 Maruti New Wagon-R,VXI 1.0 Manual,"4,685 km","₹11,067/month","₹5,66,099","4,685 km1st OwnerPetrol"

In [39]:
car_Rewari =cars_extract(30)
car_Rewari.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
1,2020 Maruti Swift,LXI Manual,"12,031 km","₹11,583/month","₹5,92,499","12,031 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"4,524 km","₹12,278/month","₹6,27,999","4,524 km1st OwnerPetrol"
4,2021 Tata ALTROZ,XE 1.2 Manual,"7,708 km","₹12,551/month","₹6,41,999","7,708 km1st OwnerPetrol"

In [40]:
car_Rajkot =cars_extract(31)
car_Rajkot.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Hyundai Elite i20,SPORTZ 1.2 Manual,"39,077 km","₹10,057/month","₹5,14,399","39,077 km1st OwnerPetrol"
1,2020 Hyundai AURA,"₹13,000off","12,464 km","₹17,076/month","₹9,09,299","12,464 km1st OwnerDiesel"
2,2018 Maruti Alto 800,LXI Manual,"12,028 km","₹5,750/month","₹2,94,099","12,028 km2nd OwnerPetrol"
3,2017 Maruti Baleno,"₹11,000off","9,200 km","₹11,259/month","₹5,75,899","9,200 km1st OwnerPetrol"
4,2017 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"25,815 km","₹8,739/month","₹4,46,999","25,815 km1st OwnerPetrol"

In [41]:
car_Sonipat =cars_extract(32)
car_Sonipat.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,LXI Manual,"10,806 km","₹11,583/month","₹5,92,499","10,806 km1st OwnerPetrol"
1,2020 Maruti Swift,LXI Manual,"12,031 km","₹11,583/month","₹5,92,499","12,031 km1st OwnerPetrol"
2,2019 Maruti Swift,LXI Manual,"15,237 km","₹11,269/month","₹5,76,399","15,237 km1st OwnerPetrol"
3,2021 Maruti Swift,LXI Manual,"4,524 km","₹12,278/month","₹6,27,999","4,524 km1st OwnerPetrol"
4,2021 Tata ALTROZ,XE 1.2 Manual,"7,708 km","₹12,551/month","₹6,41,999","7,708 km1st OwnerPetrol"

In [42]:
car_Surat =cars_extract(33)
car_Surat.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Volkswagen Polo,"₹9,200off","68,401 km","₹8,864/month","₹4,53,399","68,401 km2nd OwnerPetrol"
1,2018 Maruti Alto 800,"₹20,000off","30,253 km","₹5,855/month","₹2,99,499","30,253 km1st OwnerPetrol"
2,2019 Maruti Swift,"₹23,700off","47,289 km","₹11,894/month","₹6,08,399","47,289 km1st OwnerPetrol"
3,2018 Hyundai Grand i10,SPORTZ O 1.2 Manual,"10,381 km","₹11,067/month","₹5,66,099","10,381 km1st OwnerPetrol"
4,2018 Renault Kwid,1.0 RXT Opt Manual,"20,153 km","₹7,032/month","₹3,59,699","20,153 km2nd OwnerPetrol"

In [43]:
car_Trichur =cars_extract(34)
car_Trichur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2010 Maruti Alto,LX Manual,"7,956 km","₹3,599/month","₹1,84,099","7,956 km1st OwnerPetrol"
1,2016 Maruti Alto 800,"₹20,350off","1,01,405 km","₹4,351/month","₹2,22,549","1,01,405 km1st OwnerPetrol"
2,2009 Hyundai i10,"₹8,000off","62,164 km","₹3,904/month","₹1,99,699","62,164 km2nd OwnerPetrol"
3,2018 Hyundai Grand i10,"₹8,000off","21,782 km","₹8,543/month","₹4,36,999","21,782 km1st OwnerPetrol"
4,2008 Hyundai i10,"₹8,000off","23,872 km","₹4,667/month","₹2,38,699","23,872 km2nd OwnerPetrol"

In [44]:
car_Vadodra =cars_extract(35)
car_Vadodra.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2016 Volvo V40 Cross Country,"₹35,500off","21,635 km","₹25,934/month","₹13,80,999","21,635 km1st OwnerPetrol"
1,2020 Maruti Swift,VXI Manual,"17,554 km","₹12,999/month","₹6,64,899","17,554 km1st OwnerPetrol"
2,2017 Maruti Celerio,VXI Manual,"93,472 km","₹7,716/month","₹3,94,699","93,472 km1st OwnerPetrol"
3,2019 Maruti Swift,VXI Manual,"72,729 km","₹11,867/month","₹6,06,999","72,729 km1st OwnerPetrol"
4,2020 Volkswagen Polo,"₹28,500off","37,189 km","₹11,894/month","₹6,08,399","37,189 km1st OwnerPetrol"

In [45]:
car_Vapi =cars_extract(36)
car_Vapi.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2015 Volkswagen Polo,"₹9,200off","68,401 km","₹8,864/month","₹4,53,399","68,401 km2nd OwnerPetrol"
1,2018 Maruti Alto 800,"₹20,000off","30,253 km","₹5,855/month","₹2,99,499","30,253 km1st OwnerPetrol"
2,2019 Maruti Swift,"₹23,700off","47,289 km","₹11,894/month","₹6,08,399","47,289 km1st OwnerPetrol"
3,2018 Hyundai Grand i10,SPORTZ O 1.2 Manual,"10,381 km","₹11,067/month","₹5,66,099","10,381 km1st OwnerPetrol"
4,2018 Renault Kwid,1.0 RXT Opt Manual,"20,153 km","₹7,032/month","₹3,59,699","20,153 km2nd OwnerPetrol"

In [46]:
car_Zirakpur =cars_extract(37)
car_Zirakpur.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2020 Maruti Swift,LXI Manual,"4,172 km","₹11,650/month","₹5,95,899","4,172 km1st OwnerPetrol"
1,2020 Maruti Swift,ZXI+ Manual,"7,720 km","₹14,107/month","₹7,21,599","7,720 km1st OwnerPetrol"
2,2019 Maruti Swift,VXI Manual,"34,269 km","₹11,828/month","₹6,04,999","34,269 km2nd OwnerPetrol"
3,2011 Hyundai i10,MAGNA 1.2 KAPPA2 Manual,"96,280 km","₹4,403/month","₹2,25,199","96,280 km2nd OwnerPetrol"
4,2021 Nissan MAGNITE,"₹32,700off","16,550 km","₹13,988/month","₹7,15,499","16,550 km1st OwnerPetrol"

In [47]:
car_Indore =cars_extract(38)
car_Indore.head()

len r1 21
21 21 21 21 21 21

,car_name,engine,km_driven,emi,price,fuel
0,2013 Maruti Alto K10,LXI Manual,"39,954 km","₹4,723/month","₹2,41,599","39,954 km1st OwnerPetrol"
1,2020 Hyundai VENUE,"₹7,400off","7,721 km","₹20,826/month","₹11,08,999","7,721 km1st OwnerPetrol"
2,2020 Mahindra Scorpio,S9 Manual,"16,382 km","₹29,665/month","₹15,79,699","16,382 km1st OwnerDiesel"
3,2021 Maruti Swift,VXI Manual,"15,905 km","₹13,982/month","₹7,15,199","15,905 km1st OwnerPetrol"
4,2020 Tata Tiago,XE 1.2 REVOTRON Manual,"11,084 km","₹9,552/month","₹4,88,599","11,084 km1st OwnerPetrol"

#### Concat of DataFrame's

In [48]:
car24 = pd.concat([car_delhi,car_mumbai,car_mumbai,car_bang,car_noida,car_ahamdabad,car_anand,car_aligarh,car_Bhopal,car_Baruch,
                  car_Chandigarh,car_Chennai,car_Coimbantor,car_Fbd,car_Gurgaon,car_Gaziabad,car_Hydrabad,car_Jalandhar,car_Jaipur,
                  car_Jamnagar,car_Kolkata,car_Kochi,car_Ludhiana,car_Lucknow,car_Merrut,car_Nagpur,car_Nasik,car_Pune,
                  car_Panipat,car_Patna,car_Rohtak,car_Rewari,car_Rajkot,car_Sonipat,car_Surat,car_Trichur,
                  car_Vadodra,car_Vapi,car_Zirakpur,car_Indore])

In [49]:
car24

,car_name,engine,km_driven,emi,price,fuel
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099","7,299 km1st OwnerPetrol"
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499","12,046 km2nd OwnerPetrol"
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699","6,875 km2nd OwnerPetrol"
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199","12,362 km2nd OwnerPetrol"
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099","75,862 km3rd OwnerPetrol"
...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol"
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999","19,072 km1st OwnerPetrol"
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399","7,427 km1st OwnerPetrol"
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399","13,232 km2nd OwnerPetrol"
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399","30,927 km2nd OwnerPetrol"

## Data Handling

### Here we handle data and sorted data on our reccomendations base and sorted it and select our important features after handling data columns.

In [50]:
car24[['mnf_year', 'name']] = car24['car_name'].str.split(' ', 1, expand=True)

In [51]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099","7,299 km1st OwnerPetrol",2018,Hyundai Grand i10
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499","12,046 km2nd OwnerPetrol",2019,Maruti Swift
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699","6,875 km2nd OwnerPetrol",2018,Hyundai Grand i10
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199","12,362 km2nd OwnerPetrol",2018,Hyundai Grand i10
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099","75,862 km3rd OwnerPetrol",2012,Hyundai i20
...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol",2018,Hyundai Elite i20
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999","19,072 km1st OwnerPetrol",2019,Hyundai NEW SANTRO
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399","7,427 km1st OwnerPetrol",2019,Maruti Alto K10
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399","13,232 km2nd OwnerPetrol",2017,Hyundai Grand i10
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399","30,927 km2nd OwnerPetrol",2019,Renault TRIBER

In [52]:
car24[['company', 'car']] = car24['name'].str.split(' ', 1, expand=True)

In [53]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099","7,299 km1st OwnerPetrol",2018,Hyundai Grand i10,Hyundai,Grand i10
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499","12,046 km2nd OwnerPetrol",2019,Maruti Swift,Maruti,Swift
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699","6,875 km2nd OwnerPetrol",2018,Hyundai Grand i10,Hyundai,Grand i10
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199","12,362 km2nd OwnerPetrol",2018,Hyundai Grand i10,Hyundai,Grand i10
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099","75,862 km3rd OwnerPetrol",2012,Hyundai i20,Hyundai,i20
...,...,...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol",2018,Hyundai Elite i20,Hyundai,Elite i20
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999","19,072 km1st OwnerPetrol",2019,Hyundai NEW SANTRO,Hyundai,NEW SANTRO
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399","7,427 km1st OwnerPetrol",2019,Maruti Alto K10,Maruti,Alto K10
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399","13,232 km2nd OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399","30,927 km2nd OwnerPetrol",2019,Renault TRIBER,Renault,TRIBER

In [54]:
car24[['km_drive', 'Owner']] = car24['fuel'].str.split('km', 1, expand=True)

In [55]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099","7,299 km1st OwnerPetrol",2018,Hyundai Grand i10,Hyundai,Grand i10,"7,299",1st OwnerPetrol
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499","12,046 km2nd OwnerPetrol",2019,Maruti Swift,Maruti,Swift,"12,046",2nd OwnerPetrol
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699","6,875 km2nd OwnerPetrol",2018,Hyundai Grand i10,Hyundai,Grand i10,"6,875",2nd OwnerPetrol
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199","12,362 km2nd OwnerPetrol",2018,Hyundai Grand i10,Hyundai,Grand i10,"12,362",2nd OwnerPetrol
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099","75,862 km3rd OwnerPetrol",2012,Hyundai i20,Hyundai,i20,"75,862",3rd OwnerPetrol
...,...,...,...,...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299","19,611 km2nd OwnerPetrol",2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999","19,072 km1st OwnerPetrol",2019,Hyundai NEW SANTRO,Hyundai,NEW SANTRO,"19,072",1st OwnerPetrol
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399","7,427 km1st OwnerPetrol",2019,Maruti Alto K10,Maruti,Alto K10,"7,427",1st OwnerPetrol
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399","13,232 km2nd OwnerPetrol",2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399","30,927 km2nd OwnerPetrol",2019,Renault TRIBER,Renault,TRIBER,"30,927",2nd OwnerPetrol

In [56]:
car24[[ 'Own','fuel']] = car24['Owner'].str.split(' ', 1, expand=True)

In [57]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099",OwnerPetrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"7,299",1st OwnerPetrol,1st
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499",OwnerPetrol,2019,Maruti Swift,Maruti,Swift,"12,046",2nd OwnerPetrol,2nd
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699",OwnerPetrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"6,875",2nd OwnerPetrol,2nd
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199",OwnerPetrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"12,362",2nd OwnerPetrol,2nd
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099",OwnerPetrol,2012,Hyundai i20,Hyundai,i20,"75,862",3rd OwnerPetrol,3rd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",OwnerPetrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999",OwnerPetrol,2019,Hyundai NEW SANTRO,Hyundai,NEW SANTRO,"19,072",1st OwnerPetrol,1st
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399",OwnerPetrol,2019,Maruti Alto K10,Maruti,Alto K10,"7,427",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399",OwnerPetrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399",OwnerPetrol,2019,Renault TRIBER,Renault,TRIBER,"30,927",2nd OwnerPetrol,2nd

In [58]:
car24['fuel'].replace('OwnerPetrol', 'Petrol', inplace=True)

In [59]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"7,299",1st OwnerPetrol,1st
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499",Petrol,2019,Maruti Swift,Maruti,Swift,"12,046",2nd OwnerPetrol,2nd
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"6,875",2nd OwnerPetrol,2nd
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"12,362",2nd OwnerPetrol,2nd
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099",Petrol,2012,Hyundai i20,Hyundai,i20,"75,862",3rd OwnerPetrol,3rd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",Petrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999",Petrol,2019,Hyundai NEW SANTRO,Hyundai,NEW SANTRO,"19,072",1st OwnerPetrol,1st
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399",Petrol,2019,Maruti Alto K10,Maruti,Alto K10,"7,427",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399",Petrol,2019,Renault TRIBER,Renault,TRIBER,"30,927",2nd OwnerPetrol,2nd

In [60]:
car24['fuel'].replace('OwnerDiesel', 'Diesel', inplace=True)

In [61]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"7,299",1st OwnerPetrol,1st
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499",Petrol,2019,Maruti Swift,Maruti,Swift,"12,046",2nd OwnerPetrol,2nd
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"6,875",2nd OwnerPetrol,2nd
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"12,362",2nd OwnerPetrol,2nd
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099",Petrol,2012,Hyundai i20,Hyundai,i20,"75,862",3rd OwnerPetrol,3rd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",Petrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999",Petrol,2019,Hyundai NEW SANTRO,Hyundai,NEW SANTRO,"19,072",1st OwnerPetrol,1st
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399",Petrol,2019,Maruti Alto K10,Maruti,Alto K10,"7,427",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399",Petrol,2019,Renault TRIBER,Renault,TRIBER,"30,927",2nd OwnerPetrol,2nd

In [62]:
car24

,car_name,engine,km_driven,emi,price,fuel,mnf_year,name,company,car,km_drive,Owner,Own
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"7,299 km","₹11,224/month","₹5,74,099",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"7,299",1st OwnerPetrol,1st
1,2019 Maruti Swift,LXI Manual,"12,046 km","₹10,606/month","₹5,42,499",Petrol,2019,Maruti Swift,Maruti,Swift,"12,046",2nd OwnerPetrol,2nd
2,2018 Hyundai Grand i10,"₹11,300off","6,875 km","₹10,473/month","₹5,35,699",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"6,875",2nd OwnerPetrol,2nd
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"12,362 km","₹10,268/month","₹5,25,199",Petrol,2018,Hyundai Grand i10,Hyundai,Grand i10,"12,362",2nd OwnerPetrol,2nd
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"75,862 km","₹5,183/month","₹2,65,099",Petrol,2012,Hyundai i20,Hyundai,i20,"75,862",3rd OwnerPetrol,3rd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"19,611 km","₹11,814/month","₹6,04,299",Petrol,2018,Hyundai Elite i20,Hyundai,Elite i20,"19,611",2nd OwnerPetrol,2nd
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"19,072 km","₹9,756/month","₹4,98,999",Petrol,2019,Hyundai NEW SANTRO,Hyundai,NEW SANTRO,"19,072",1st OwnerPetrol,1st
18,2019 Maruti Alto K10,"₹8,800off","7,427 km","₹8,238/month","₹4,21,399",Petrol,2019,Maruti Alto K10,Maruti,Alto K10,"7,427",1st OwnerPetrol,1st
19,2017 Hyundai Grand i10,"₹16,300off","13,232 km","₹9,783/month","₹5,00,399",Petrol,2017,Hyundai Grand i10,Hyundai,Grand i10,"13,232",2nd OwnerPetrol,2nd
20,2019 Renault TRIBER,1.0 RXT Manual,"30,927 km","₹11,973/month","₹6,12,399",Petrol,2019,Renault TRIBER,Renault,TRIBER,"30,927",2nd OwnerPetrol,2nd

In [63]:
car24.drop(['name','km_driven','Owner'], axis=1, inplace=True)

In [64]:
car24

,car_name,engine,emi,price,fuel,mnf_year,company,car,km_drive,Own
0,2018 Hyundai Grand i10,Magna 1.2 AT VTVT Automatic,"₹11,224/month","₹5,74,099",Petrol,2018,Hyundai,Grand i10,"7,299",1st
1,2019 Maruti Swift,LXI Manual,"₹10,606/month","₹5,42,499",Petrol,2019,Maruti,Swift,"12,046",2nd
2,2018 Hyundai Grand i10,"₹11,300off","₹10,473/month","₹5,35,699",Petrol,2018,Hyundai,Grand i10,"6,875",2nd
3,2018 Hyundai Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"₹10,268/month","₹5,25,199",Petrol,2018,Hyundai,Grand i10,"12,362",2nd
4,2012 Hyundai i20,MAGNA 1.2 VTVT Manual,"₹5,183/month","₹2,65,099",Petrol,2012,Hyundai,i20,"75,862",3rd
...,...,...,...,...,...,...,...,...,...,...
16,2018 Hyundai Elite i20,SPORTZ 1.2 Manual,"₹11,814/month","₹6,04,299",Petrol,2018,Hyundai,Elite i20,"19,611",2nd
17,2019 Hyundai NEW SANTRO,1.1 MAGNA MT Manual,"₹9,756/month","₹4,98,999",Petrol,2019,Hyundai,NEW SANTRO,"19,072",1st
18,2019 Maruti Alto K10,"₹8,800off","₹8,238/month","₹4,21,399",Petrol,2019,Maruti,Alto K10,"7,427",1st
19,2017 Hyundai Grand i10,"₹16,300off","₹9,783/month","₹5,00,399",Petrol,2017,Hyundai,Grand i10,"13,232",2nd
20,2019 Renault TRIBER,1.0 RXT Manual,"₹11,973/month","₹6,12,399",Petrol,2019,Renault,TRIBER,"30,927",2nd

In [65]:
car24.drop(['car_name'], axis=1, inplace=True)

In [66]:
car24

,engine,emi,price,fuel,mnf_year,company,car,km_drive,Own
0,Magna 1.2 AT VTVT Automatic,"₹11,224/month","₹5,74,099",Petrol,2018,Hyundai,Grand i10,"7,299",1st
1,LXI Manual,"₹10,606/month","₹5,42,499",Petrol,2019,Maruti,Swift,"12,046",2nd
2,"₹11,300off","₹10,473/month","₹5,35,699",Petrol,2018,Hyundai,Grand i10,"6,875",2nd
3,MAGNA 1.2 KAPPA VTVT Manual,"₹10,268/month","₹5,25,199",Petrol,2018,Hyundai,Grand i10,"12,362",2nd
4,MAGNA 1.2 VTVT Manual,"₹5,183/month","₹2,65,099",Petrol,2012,Hyundai,i20,"75,862",3rd
...,...,...,...,...,...,...,...,...,...
16,SPORTZ 1.2 Manual,"₹11,814/month","₹6,04,299",Petrol,2018,Hyundai,Elite i20,"19,611",2nd
17,1.1 MAGNA MT Manual,"₹9,756/month","₹4,98,999",Petrol,2019,Hyundai,NEW SANTRO,"19,072",1st
18,"₹8,800off","₹8,238/month","₹4,21,399",Petrol,2019,Maruti,Alto K10,"7,427",1st
19,"₹16,300off","₹9,783/month","₹5,00,399",Petrol,2017,Hyundai,Grand i10,"13,232",2nd
20,1.0 RXT Manual,"₹11,973/month","₹6,12,399",Petrol,2019,Renault,TRIBER,"30,927",2nd

In [67]:
car24.loc[:, ["car","company","mnf_year","engine","km_drive","fuel","Own","emi","price"]]

,car,company,mnf_year,engine,km_drive,fuel,Own,emi,price
0,Grand i10,Hyundai,2018,Magna 1.2 AT VTVT Automatic,"7,299",Petrol,1st,"₹11,224/month","₹5,74,099"
1,Swift,Maruti,2019,LXI Manual,"12,046",Petrol,2nd,"₹10,606/month","₹5,42,499"
2,Grand i10,Hyundai,2018,"₹11,300off","6,875",Petrol,2nd,"₹10,473/month","₹5,35,699"
3,Grand i10,Hyundai,2018,MAGNA 1.2 KAPPA VTVT Manual,"12,362",Petrol,2nd,"₹10,268/month","₹5,25,199"
4,i20,Hyundai,2012,MAGNA 1.2 VTVT Manual,"75,862",Petrol,3rd,"₹5,183/month","₹2,65,099"
...,...,...,...,...,...,...,...,...,...
16,Elite i20,Hyundai,2018,SPORTZ 1.2 Manual,"19,611",Petrol,2nd,"₹11,814/month","₹6,04,299"
17,NEW SANTRO,Hyundai,2019,1.1 MAGNA MT Manual,"19,072",Petrol,1st,"₹9,756/month","₹4,98,999"
18,Alto K10,Maruti,2019,"₹8,800off","7,427",Petrol,1st,"₹8,238/month","₹4,21,399"
19,Grand i10,Hyundai,2017,"₹16,300off","13,232",Petrol,2nd,"₹9,783/month","₹5,00,399"
20,TRIBER,Renault,2019,1.0 RXT Manual,"30,927",Petrol,2nd,"₹11,973/month","₹6,12,399"

In [68]:
car24.rename(columns = {'car':'Car_Name', 'company':'Company',
                              'engine':'Engine_Version','fuel':'Fuel_Type','emi':'Emi','price':'Price','Own':'Owner'}, inplace = True)

In [69]:
car24.loc[:,["Car_Name","Company","mnf_year","Engine_Version","km_drive","Fuel_Type","Owner","Emi","Price"]]

,Car_Name,Company,mnf_year,Engine_Version,km_drive,Fuel_Type,Owner,Emi,Price
0,Grand i10,Hyundai,2018,Magna 1.2 AT VTVT Automatic,"7,299",Petrol,1st,"₹11,224/month","₹5,74,099"
1,Swift,Maruti,2019,LXI Manual,"12,046",Petrol,2nd,"₹10,606/month","₹5,42,499"
2,Grand i10,Hyundai,2018,"₹11,300off","6,875",Petrol,2nd,"₹10,473/month","₹5,35,699"
3,Grand i10,Hyundai,2018,MAGNA 1.2 KAPPA VTVT Manual,"12,362",Petrol,2nd,"₹10,268/month","₹5,25,199"
4,i20,Hyundai,2012,MAGNA 1.2 VTVT Manual,"75,862",Petrol,3rd,"₹5,183/month","₹2,65,099"
...,...,...,...,...,...,...,...,...,...
16,Elite i20,Hyundai,2018,SPORTZ 1.2 Manual,"19,611",Petrol,2nd,"₹11,814/month","₹6,04,299"
17,NEW SANTRO,Hyundai,2019,1.1 MAGNA MT Manual,"19,072",Petrol,1st,"₹9,756/month","₹4,98,999"
18,Alto K10,Maruti,2019,"₹8,800off","7,427",Petrol,1st,"₹8,238/month","₹4,21,399"
19,Grand i10,Hyundai,2017,"₹16,300off","13,232",Petrol,2nd,"₹9,783/month","₹5,00,399"
20,TRIBER,Renault,2019,1.0 RXT Manual,"30,927",Petrol,2nd,"₹11,973/month","₹6,12,399"

In [70]:
car24

,Engine_Version,Emi,Price,Fuel_Type,mnf_year,Company,Car_Name,km_drive,Owner
0,Magna 1.2 AT VTVT Automatic,"₹11,224/month","₹5,74,099",Petrol,2018,Hyundai,Grand i10,"7,299",1st
1,LXI Manual,"₹10,606/month","₹5,42,499",Petrol,2019,Maruti,Swift,"12,046",2nd
2,"₹11,300off","₹10,473/month","₹5,35,699",Petrol,2018,Hyundai,Grand i10,"6,875",2nd
3,MAGNA 1.2 KAPPA VTVT Manual,"₹10,268/month","₹5,25,199",Petrol,2018,Hyundai,Grand i10,"12,362",2nd
4,MAGNA 1.2 VTVT Manual,"₹5,183/month","₹2,65,099",Petrol,2012,Hyundai,i20,"75,862",3rd
...,...,...,...,...,...,...,...,...,...
16,SPORTZ 1.2 Manual,"₹11,814/month","₹6,04,299",Petrol,2018,Hyundai,Elite i20,"19,611",2nd
17,1.1 MAGNA MT Manual,"₹9,756/month","₹4,98,999",Petrol,2019,Hyundai,NEW SANTRO,"19,072",1st
18,"₹8,800off","₹8,238/month","₹4,21,399",Petrol,2019,Maruti,Alto K10,"7,427",1st
19,"₹16,300off","₹9,783/month","₹5,00,399",Petrol,2017,Hyundai,Grand i10,"13,232",2nd
20,1.0 RXT Manual,"₹11,973/month","₹6,12,399",Petrol,2019,Renault,TRIBER,"30,927",2nd

### Transform data into csv File.

In [72]:
car24.to_csv('car24_data.csv')